{{ $heuristic := where site.Data.heuristics "id" .Params.heuristic }}
<section data-noprocess data-shortcode-slide data-template="white">
    <div class="slide-audit">
        <div class="audit-meta">
            {{ range $key, $val := $heuristic }}
            <div class="heuristic">
                {{ $val.id }}. {{ $val.name }}
            </div>
            {{ end }}
            <div class="focuses">
                <div class="focus focus-0">
                    {{ .Params.focus }}
                </div>
            </div>
        </div>
        <div class="audit">
            <div class="inquiry">
                <h4>Inquiry</h4>
                {{ .Content }}

                {{ if .Params.url_source }}
                <a class="source" title="{{ .Title }}" href="{{ .Params.url_source }}">
                    Issue on Github
                </a>{{ end }}
            </div>
            <div class="score">
                <h4>Score</h4>
                <div class="severity score-{{ .Params.score }}">
                    {{ .Params.score }}
                </div>
            </div>
            <div class="analysis">
                {{ if .Params.observations }}            
                <h4>Observations</h4>
                {{ range .Params.observations }}
                <div class="item">{{ . | markdownify }}</div>
                {{ end }}{{ end }}

                {{ if .Params.suggestions }}
                <h4>Suggestions</h4>
                {{ range .Params.suggestions }}
                <div class="item">{{ . | markdownify }}</div>
                {{ end }}{{ end }}
            </div>
            <div class="images">
                <h4>Images</h4>
                {{ range .Params.images }}
                <a href="{{ . }}" target="_blank"><img src="{{ . }}"></a>
                {{ end }}
            </div>
        </div>
    </div>
i</section>
