@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Roboto-400.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Italic';
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/Roboto-400-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Roboto-700.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Bold Italic';
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/Roboto-700-Italic.ttf) format('truetype');
}
