html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--background);
    background-color: var(--background);
}

h1,
h2,
h3,
h4 {
    margin: var(--heading-margin);
    color: var(--dark);
    font-family: var(--heading-font);
    font-weight: var(--heading-font-weight);
    line-height: var(--heading-line-height);
    letter-spacing: var(--heading-letter-spacing);
    text-transform: var(--heading-text-transform);
    text-shadow: var(--heading-text-shadow);
    word-wrap: break-word;
}

h1 {
  font-size: var(--heading1-size);
}

h2 {
  font-size: var(--heading2-size);
}

h3 {
  font-size: var(--heading3-size);
}

h4 {
  font-size: var(--heading4-size);
}


p {
    margin-bottom: 2.5rem;
}

a,
p,
ul {
    font-family: var(--main-font);
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.button {
    border: 1px solid var(--accent);
    padding: .5rem;
    color: var(--accent);
    text-decoration: none;
}

a.button span {
    color: var(--text);
}

a.button:hover {
    background-color: var(--accent);
    color: var(--accent-contrast);
    text-decoration: none;
}

a.button:hover span {
    color: var(--accent-contrast);
}

ul.navigation {
    list-style-type: none;
    margin-bottom: 1rem;
}

ul.navigation li {
    margin: 0 0 2.5rem 0;
}

div.hello {
    width: 100%;
    height: 100%;
    display: flex;
}

div.creator {
    width: 20%;
    background: var(--accent);
    background-color: var(--accent);
    color: var(--accent-contrast);
    padding: 2rem;
}

div.creator img {
    margin-bottom: 2rem;
}

div.creator p {
    margin-bottom: 2.5rem;
}

div.creator p a.button {
    border-color: var(--accent-contrast);
    color: var(--accent-contrast);
}

div.creator p a.button:hover {
    background-color: var(--accent-contrast);
    color: var(--accent);
}

div.content {
    width: 80%;
    color: var(--text);
    padding: 2rem;
}
